<h1>Listing all articles</h1>
<div class="paginate">
    <%= will_paginate @articles %>
</div>
<%= render 'article', obj: @articles %>
<div class="paginate">
    <%= will_paginate @articles %>
</div>
