<!DOCTYPE html>
<style>
head 
    {
    color: white;
    text-align: center;
    font-family: courier;
    margin:40px;
    }

header
    {
    color:white;
    text-align:center;
    font-family:courier;
    margin:40px;
    }
    
body 
    {
    background-color:black;
    text-align: center;
    font-size: 30px;
    }
 
side
    {
    background-color:black;
    float:right;
    text-align:center;
    margin-right:80px;
    color:white;
    }
    
footer
    {
    text-align:center;
    color:white;
    background-color:black;
    font-family:courier;
    margin:50px;
    }
 
</style>
<html>
    
<head>
</head>

<header>ABOUT
</header>

<body>
    <%= link_to image_tag('final_fantasy_vii_sephiroth_cloud_strife_barret_tifa_desktop_1920x1200_hd-wallpaper-823489'), 'http://4.bp.blogspot.com/--2KnMSeXrZw/UUdU3-D-VsI/AAAAAAAAADk/0BtTnkuwuAo/s1600/final_fantasy_vii_sephiroth_cloud_strife_barret_tifa_desktop_1920x1200_hd-wallpaper-823489.png' %>
<!--img src="http://4.bp.blogspot.com/--2KnMSeXrZw/UUdU3-D-VsI/AAAAAAAAADk/0BtTnkuwuAo/s1600/final_fantasy_vii_sephiroth_cloud_strife_barret_tifa_desktop_1920x1200_hd-wallpaper-823489.png" style="width:80%";>-->
    <side>
    <%= link_to 'Home', root_path %>
    </side>
</body>

<footer>
    <p>This is what it's all about</p>
</footer>
    
</html>