<!DOCTYPE html>
<!--<style>
head 
    {
    color: white;
    text-align: center;
    font-family: courier;
    margin:40px;
    }

header
    {
    color:white;
    text-align:center;
    font-family:courier;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 50px;
    }
    
body 
    {
    background-color:black;
    text-align: center;
    font-size: 30px;
    }
 
side
    {
    background-color:black;
    float:right;
    text-align:center;
    margin-right:80px;
    color:white;
    }
    
footer
    {
    text-align:center;
    color:white;
    background-color:black;
    font-family:courier;
    margin:50px;
    }
 
</style> -->
<html>
    
<head>
</head>

<header>
<%= link_to 'Home', root_path %></side>
</header>

<body>
<footer>
    <p>This is what it's all about</p>
</footer>
</body>    
</html>