<!DOCTYPE html>
<html>
        <div class="sidebar">
            <div class="jumbotron">
                <p>Welcome to Cavea's blog</br></br>
                <%= link_to "Sign up!", signup_path, class: "btn btn-danger btn-lg btn-style1" %>
                </p>
            </div>
        </div>
        <!--p class="content">aeae</p-->
</html>
