<!DOCTYPE html>
<html>
        <div class="sidebar">
            <div class="jumbotron">
                <p>Welcome to Cavea's blog</br></br>
                <%= link_to "Sign up!", "#", class: "btn btn-danger btn-lg btn-style" %>
                </p>
            </div>
        </div>
        <div class="content"></div>
        <p class="content">aeae</p>
</html>
