<!DOCTYPE html>
<html>
    <div class="col-xs-3 col-sm-offset-9">
        <div class="jumbotron">
            <div id="homebtn">
            Welcome to Cavea's blog
            </div></br></br>
            <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg btn-style1" %>
        </div>
    </div>
<body>
</body>
</html>
