<!DOCTYPE html>
<html>
    <div class="presentation">
        <div class="col-xs-3 col-xs-offset-1">
            <div class="black home-title-top">
                Welcome to Andrea's blog
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-3">
            <div class="jumbotron">
                <div class="row font_choice article-title center">
                    New to the blog?
                </div>
                <div class="center">
                    <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg btn-style1" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <h2>Home sweet home.</h2>
    </div>
<body>
</body>
</html>
