@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
    font-family: courier;
    background-color: #060d13;
}

#logo {
    float: left;
    font-size: 1.7em;
    letter-spacing: -1px;
    color: #fff;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    text-align: right;
    font-size: 7em;
    padding: 15px;
    border-radius: 5px;
    background-color: #060d13;
}

.jumbotron p {
   color: #fff; 
   font-family: courier;
   letter-spacing: -1px;
}

.well {
    padding: 5px 10px;
}

.btn-style1 {
    background-color: #060d13;
    border-color: #fff;
}

.btn-style2 {
    background-color: #fff;
    border: solid 1px #262626;
    padding: 3px 5px;
    margin: 5px 5px 2px 3px;
    border-radius: 2px;
    color: black;
}

.right{
    float: right;
    margin-right: 5px;
}

.sidebar { 
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    height: 100px;
    width: default;
}

.content {
    width: default;
    height: default;
    background-color: #fff;
    margin: 20px;
    border: solid 1px #eaeaea;
    padding: 15px 30px;
    border-radius: 5px;
}

body {
    background-image: asset-url('pacific-northwest-nature-2.jpg');
    background-size: cover;
}

footer {
    height: 50px;
    width: 100%;
    margin-top: 25px;
    padding: 12px 15px;
    border-top: 1px solid #eaeaea;
    color: #fff;
    font-weight: bold;
    position: absolute; 
    bottom: 0;
}

h1, .font_choice {
    color: #fff;
    font-family: courier;
}

h1 {
    text-align: center;
}

.article-title {
    font-weight: bold;
    font-size: 1.7em;
    margin: 0px 4px 4px 4px;
}

.article-actions {
    border-top: solid 1px #eaeaea;
    padding-top: 5px;
}

.article-body {
    margin-bottom: 5px;
}
